{% extends "base.html" %}

{% block content %}
<div>
    <h4 style="text-align: center; color: rgba(136, 136, 124, 0.493);">И на Марсе будут яблони цвести!</h4>
    <h1 style="text-align: center;">Список профессий</h1>

    {% if h == "ol" %}
    {% for item in p %}
        <ol>{{item}}</ol>
    {% endfor %}
    {% elif h == 'ul' %}
    {% for item in p %}
        <ul>{{item}}</ul>
    {% endfor %}
    {% else %}
    <h1 style="text-align: center;">Ошибка параметра(</h1>
    {% endif %}
</div>
{% endblock %}
