{% extends "base.html" %}

{% block content %}
<div>
    <h4 style="text-align: center; color: rgba(136, 136, 124, 0.493);">И на Марсе будут яблони цвести!</h4>
    <h1 style="text-align: center;">Список профессий</h1>

    {% if h == "ol" %}
    <ol>
    {% for item in p %}
        <li>{{item}}</li>
    {% endfor %}
    </ol>
    {% elif h == 'ul' %}
    <ul>
    {% for item in p %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
    {% else %}
    <h1 style="text-align: center;">Ошибка параметра(</h1>
    {% endif %}
</div>
{% endblock %}